<form class="row my-4" [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <label class="form-label">Dui del cliente</label>
    <input class="form-control" type="text" (keyup)="onInput('dui')" formControlName="dui">
    <small class="text-danger" *ngIf="duiInvalido">{{ duiInvalido }}</small>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <label class="form-label">Nombre del cliente</label>
    <input class="form-control" type="text" (keyup)="onInput('name')" formControlName="name">
    <small class="text-danger" *ngIf="nameInvalido">{{ nameInvalido }}</small>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-3">
    <label class="form-label">Vehiculo del cliente</label>
    <input class="form-control" type="text" (keyup)="onInput('vehiculo')" formControlName="vehiculo">
    <small class="text-danger" *ngIf="vehiculoInvalido">{{ vehiculoInvalido }}</small>
  </div>
  <div class="col-12 col-sm-6 col-md-3 d-flex flex-column">
    <button class="col btn btn-primary" type="submit">Registrar cliente</button>
    <small class="text-danger" *ngIf="formInvalido">{{ formInvalido }}</small>
  </div>
</form>
